
<div class="container" *ngFor="let order of orders">

  <div class = "row">
    <div class="col-md-3">
      <img src="../../../../assets/add-a-picture-icon-44909.png" style="padding:10px;width:200px;height:200px">
    </div>
    <!--<div class="col-md-2">-->
    <!--</div>-->

    <div class="col-md-3">
      <h4 style="color: darkcyan">{{order}}</h4>
    </div>
      <!--<h4 style="color: darkblue;font-size: 15px">{{order.catalog}} </h4>-->
      <!--<h5 style="color: darkcyan;font-size: 15px">{{order.title}}</h5>-->

    <!--</div>-->
    <!--<div class="col-md-1">-->
    <!--</div>-->

    <div class="col-md-3" style=" width:100%;">
      <br><br>
      <h4 style="color: darkcyan"><label>Assign Agent</label></h4>
        <select [(ngModel)]="getagent">
        <option *ngFor="let agent of agents" [value]="agent._id">{{agent}}</option>
        </select>
    </div>
      <div class="col-md-3">
      <br><br>
      <a class="btn btn-primary" style="background-color: #e2f442"  (click) = "assignAgents()">Assign Order to Agent</a>
      </div>


  </div>
</div>

<!--</div><div id="container" width="100px"></div>-->
<!--<button (click)="progress()">changeStatus</button>-->



