




    <div class="row" style="height:300px">
      <div class="col-md-8" style="border:solid;border-color: #F5F5F5">
        <div class="row"  [routerLink] = "['histogram']"style="height:230px;background-color: #F5F5F5;">
          <img src="https://plot.ly/static/img/literacy/fig3.jpg" style="margin-left:20px;margin-top:10px;" width="85%" height="200px">
        </div>
        <div class="row" [routerLink] = "['histogram']" style="height:70px">
          <p style="margin-top : 20px;margin-left:75px;color: black;font-size: 24px;">Click here to see the statistics of agents</p>

        </div>
      </div>
      <div class="col-md-4" style="border:solid;border-color: #F5F5F5">
        <div class="row" [routerLink] = "['/merchant/createcatalog']" style="height:220px;background-color:#1ABC9C">
          <img src="https://img1.etsystatic.com/024/0/5376838/il_570xN.564978191_hg95.jpg" style="margin-left:20px;margin-top:10px;" height="185px" width="90%">
        </div>
        <div class="row" [routerLink] = "['/merchant/createcatalog']" style="height:70px;background-color: #339966">
          <p style="margin-top : 20px;margin-left:35px;color: white;font-size: 24px;">Click here to create catalogue</p>

        </div>
      </div>
    </div>



    <!------ Square blocks ---------->
    <div class= "row" style="margin-top:10px">
      <div class="col-sm-3" style="border:solid;height:230px;border-color: #F5F5F5">
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:150px;width:95%;background-color:#adebeb;margin-top:5px;margin-left:2px;">
          <img src = "https://www.usfleettracking.com/sites/all/themes/usft_material/images/tracking-icon.svg" style="margin-left:12px;margin-top:10px;" height="120px" width="90%">
        </div>
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:60px;width:95%;background-color:#33cccc;margin-left:2px;">
          <p style="margin-left:50px;margin-top:10px;color: white;font-size: 20px;">Track orders</p>
        </div>
      </div>

      <div class="col-sm-3" style="border:solid;height:230px;border-color: #F5F5F5">
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:150px;width:95%;background-color:#ffad33;margin-top:5px;margin-left:2px;">
          <img src = "http://cdn.onlinewebfonts.com/svg/img_513926.png" style="margin-left:20px;margin-top:10px;" height="120px" width="80%">
        </div>
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:60px;width:95%;background-color:#ff8c1a;margin-left:2px;">
          <p style="margin-left:30px;color: white;margin-top:10px;font-size: 20px;">Approve agents</p>
        </div>
      </div>

      <div class="col-sm-3" style="border:solid;height:230px;border-color: #F5F5F5">
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:150px;width:95%;background-color:#4dd2ff;margin-top:5px;margin-left:2px;">
          <img src = "http://www.gazetadopovo.com.br/blogs/giro-sustentavel/wp-content/uploads/sites/62/2016/04/compliance-icon-3.png" style="margin-left:12px;margin-top:10px;" height="120px" width="90%">
        </div>
        <div class="row" [routerLink] = "['/merchant/home/approvals']" style="height:60px;width:95%;background-color:#00bfff;margin-left:2px;">
          <p style="margin-left:20px;margin-top:10px;color: white;font-size: 20px;">Change order status</p>
        </div>
      </div>

      <div class="col-sm-3" style="border:solid;height:230px;border-color: #F5F5F5">
        <div class="row" [routerLink] = "['/merchant/home/receivedOrders']" style="height:150px;width:95%;background-color:#ff6666;margin-top:5px;margin-left:2px;">
          <img src = "http://www.droid-life.com/wp-content/uploads/2015/04/action-launcher-icon-980x686.jpg" style="margin-left:12px;margin-top:10px;" height="120px" width="90%">
        </div>
        <div class="row" [routerLink] = "['/merchant/home/receivedOrders']" style="height:60px;width:95%;background-color:#ff5050;margin-left:2px;">
          <p style="margin-left:30px;margin-top:10px;color: white;font-size: 20px;">View received orders</p>
        </div>
      </div>


    </div>



