<div class="row">
  <div class="col-md-4">
    <h3> Pending Agents Approval </h3>
    <!--<p>Count</p>-->
    <div>
      <a class="btn btn-primary" [routerLink]="['/merchant/home/approvals']">More Information</a>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Orders Received From Users </h3>
    <div>
      <a class="btn btn-primary" [routerLink]="">View Orders</a>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Track Orders from Agents </h3>
    <div>
      <a class="btn btn-primary" [routerLink]="">Get Details </a>
    </div>
  </div>

  <div class="col-md-4">

    <div>

    </div>
  </div>
  <div class="col-md-4">

    <div>

    </div>
  </div>
  <div class="col-md-4">

    <div>

    </div>
  </div>


  <div class="col-md-4">
    <h3>Update Order Details For Customer </h3>
    <div>
      <a class="btn btn-primary" [routerLink]="">Update Details</a>
    </div>
  </div>
</div>
