<div class="jumbtron text-center">
  <div id="reposition">
    <head>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <!------ Include the above in your HEAD tag ---------->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div id="container" >
      <img src="https://sep.yimg.com/ay/yhst-10775676472182/coming-soon-jay-cyn-designs-for-birch-organic-fabrics-farm-fresh-chicken-wire-multi-1.gif" height = "350px" style="width:100%">
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="jumbotron" style="color: #7386D5; margin-top: 40px">
          <div class="row" align="center">
            <a class="botton"  style="margin-left: 100px ">
              <h4 style="text-align: center">Agent Profile</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5">
        <div class="jumbotron" style="color: #7386D5; margin-top: 40px">
          <div class="row" align="center">
            <a class="botton" [routerLink] = "['receivedOrders']" style="margin-left: 120px ">
              <h4 style="text-align: center">Accepts orders</h4>
            </a>
          </div>
        </div>
      </div>



    </div>


    <div class="row">
      <div class="col-md-5">
        <div class="jumbotron" style="color: #7386D5; margin-top: 30px">
          <div class="row" align="center">
            <a class="botton" [routerLink] = "['process']" style="margin-left: 100px ">
              <h4 style="text-align: center">Process Orders</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5">
        <div class="jumbotron" style="color: #7386D5; margin-top: 30px">
          <div class="row" align="center">
            <a class="botton"  style="margin-left: 120px ">
              <h4 style="text-align: center">Payments</h4>
            </a>
          </div>
        </div>
      </div>

    </div>

    </body>
  </div>
</div>
