<div class="jumbotron">
  <div class="row" *ngFor="let item of cartItems" style="margin-top: 30px">
    <div class="col-md-4"  style="width: 50%; overflow: hidden;">
      <img class="card-img-top" src="{{item.imageURL}}" alt="Card image cap"  height="200"
           width="200"  >
    </div>
    <div class="col-md-2"  style="width: 50%; overflow-wrap: break-word; overflow-scrolling: auto; margin-top: 20px" align="center">
      <h4>Name : {{item.clothName}}
      </h4>
    </div>
    <div class="col-md-2"  style="width: 50%; overflow-wrap: break-word; overflow-scrolling: auto; margin-top: 20px; text-align: center">
      <div class="row">
        <h4>Length of the ordered cloth :</h4>
      </div>
      <div class="row" style="text-align: center; margin-left: 20px">
        <h4>{{item.length}}</h4>
      </div>
      <div class="row">

      </div>

    </div>
    <div class="col-md-2"  style="width: 50%; overflow-wrap: break-word; overflow-scrolling: auto; margin-top: 20px">
      <div class="row">
        <h4>Cost of the ordered cloth : </h4>
      </div>
      <div class="row" style="text-align: center; margin-left: 20px">
        <h4>{{item.totalCost}}</h4>
      </div>
      <div class="row">
      </div>

    </div>
    <div class="col-md-2"  style="width: 50%; overflow-wrap: break-word; overflow-scrolling: auto; margin-top: 20px; " align="center">
      <a class="btn btn-primary" >Remove</a>

    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-2">
      <h3 align="right">
        Total :
      </h3>

    </div>
    <div class="col-md-3">
      <h3 align="left"> $ {{totalCost}} </h3>
    </div>

    <div class="col-md-4" style="width: 50%; overflow-wrap: break-word; overflow-scrolling: auto; " align="center">
      <a class="btn btn-primary" >Checkout</a>

    </div>


  </div>

</div>
