<body background="http://getwallpapers.com/wallpaper/full/b/3/0/1007066-amazing-textured-wallpaper-backgrounds-2560x1600-for-samsung-galaxy.jpg" style="width:100%">

<div class="row">
  <div class="col-sm-7">
    <img src="https://www.mahoneswallpapershop.com/Files/themeContent/Wallpaper/JF%20Wallpaper%201st.jpg" width="600px" height="350px">
  </div>
  <div class="col-sm-5">
    <div >
      <table id = "registration">
        <tr>
          <td id="image" >
          </td>
          <td id="registration_form" >
            <form (submit)="onSubmitRegisterUser()">
              <table>
                <th><h3 style="font-family:Century Gothic;color:#273746;font-size: 40px; font-weight:bold">Register</h3>
                </th>
                <tr >
                  <td>
                    <label for="name" style="font-family:Century Gothic;float:left; width:100%; color:#273746;margin-bottom: 10px;margin-top:15px; font-size: 20px">Name</label>
                  </td>
                  <td>
                    <input name="name" [(ngModel)]="name" type="text" id="name" style="width:90%; margin-bottom: 10px;margin-top:15px; border: 1px solid #636466; border-radius: 5px 5px 5px 5px;" value="" maxlength="100" />
                  </td>
                </tr>
                <tr >
                  <td>
                    <label for="email" style="font-family:Century Gothic;color:#273746;float:left; width:100%; margin-bottom: 10px; font-size: 20px">Email*</label>
                  </td>
                  <td>
                    <input name="email" [(ngModel)]="email" type="text" id="email"  style="width:90%; margin-bottom: 10px; border: 1px solid #636466; border-radius: 5px 5px 5px 5px;" value="" maxlength="100" />
                  </td>
                </tr>

                <tr >
                  <td>
                    <label for="username" style="font-family:Century Gothic;color:#273746;float:left; width:100%; margin-bottom: 10px; font-size: 20px">Username*</label>
                  </td>
                  <td>
                    <input name="username" [(ngModel)]="username" type="text" id="username" style="width:90%; margin-bottom: 10px; border: 1px solid #636466; border-radius: 5px 5px 5px 5px;" value="" maxlength="100" />
                  </td>
                </tr>
                <tr >
                  <td>
                    <label for="password" style="font-family:Century Gothic;float:left; width:100%;color:#273746; margin-bottom: 10px; font-size: 20px">Password*</label>
                  </td>
                  <td>
                    <input name="password" [(ngModel)]="password" type="password" id="password" style="width:90%; margin-bottom: 10px; border: 1px solid #636466; border-radius: 5px 5px 5px 5px;" value="" maxlength="100" />
                  </td>
                </tr>
                <tr id="buttons" >
                  <td >
                    <input type = "submit"  class="btn .btn-primary" style="margin-top:40px;margin-left:150px;background-color:#636466;color:white" value="Submit">
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

</body>






