<div class="jumbtron text-center">
  <div id="reposition" style="margin:100px">
    <h1>Catalog</h1>
  </div>
  <div class = "row">
    <div class="col">
      <h4>Plain Fabric</h4>
      <img src="https://www.allenshire.co.uk/media/8393/sunset-pink-483x295.jpg?mode=pad&width=483&height=295&bgcolor=FFF" (click)="plainPage()" style="width:360px;height:330px,300px">
    </div>
    <div class="col">
      <h4>Vertical Lines Fabric</h4>
      <img src="https://www.acornfabrics.com/image/cache/data/Acorn%20photos/grange%20du%20blue%20shirting%20fabric-600x450.jpg" (click)="verticalPage()" style="width:350px;height:230px,300px">

    </div>

  </div>
  <div class = "row" style="margin-top:100px">
    <div class="col">
      <h4>Horizontal Lines Fabric</h4>
      <img src="https://shop.r10s.jp/kiji-hikari/cabinet/item_img/1a/hnt980.jpg" (click)="horizontalPage()" style="width:350px;height:230px">
    </div>
    <div class="col">
      <h4>Cross Lines Fabric</h4>
      <img src="https://cdn.shopify.com/s/files/1/1086/7812/products/IMG_3483_2048x.jpg?v=1507969699" (click)="crossPage()" style="width:350px;height:430px,200px">
    </div>

  </div>
</div>
