<h1>Process Order 1</h1>
<form>
<input type="radio" id="supplier" value="supplier" name="supplier">Supplier
<input type="radio" id="dye" value="Dye" name="Dye">Dye
<input type="radio" id="machinery" value="machinery" name="machinery">Machinery
<input type="radio" id="completeorder" value="completeorder" name="completeorder">CompleteOrder
<button (click)="status()">Status</button>
<div id="container" width="100px"></div>
<h1>Process Order 2</h1>
<form>
<input type="radio" id="supplier" value="supplier" name="supplier">Supplier
<input type="radio" id="dye" value="Dye" name="Dye">Dye
<input type="radio" id="machinery" value="machinery" name="machinery">Machinery
<input type="radio" id="completeorder" value="completeorder" name="completeorder">CompleteOrder
<button (click)="status1()">Status</button>
<div id="container1" width="100px"></div>
